html, body {
	height: 100%;
}
body {
	display: flex;
	background-color: #f5f5f5;
	font-family: "Montserrat", sans-serif;
}
.insta-default a {
	width: 187px;
	padding: 15px 30px;
	display: block;
	background-color: #E33E5C;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	color: #FFF;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.3s;
}
.insta-default a:hover {
	box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
	transition: all 0.3s;
}
.insta-default a i {
	color: #FFF;
	font-size: 18px;
}


.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 0 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}